<a href="https://colab.research.google.com/github/VARSHITH128/2110030128_AOOP_FLIGHT_RESERVATION/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n= int(input("Enter the no below 10:")) 
for i in range(n): 
    print(i)

Enter the no below 10:4
0
1
2
3

In [2]:
a=int(input('enter the number:'))
#b=input('enter the text:')
for i in range(a):
    print(i*3)

enter the number:3
0
3
6

In [4]:
a=int(input('enter the number:'))
b=input('enter the text:')
for i in range(a):
    print((i)*b)

enter the number:10
enter the text:asdfghjkl

asdfghjkl
asdfghjklasdfghjkl
asdfghjklasdfghjklasdfghjkl
asdfghjklasdfghjklasdfghjklasdfghjkl
asdfghjklasdfghjklasdfghjklasdfghjklasdfghjkl
asdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjkl
asdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjkl
asdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjkl
asdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjkl

In [6]:
n= int(input("Enter the no below 10:")) 
name=input("enter the Character(s):") 
for i in range(n): 
    print(" "*(n-i),name* (i+1))

Enter the no below 10:5
enter the Character(s):a
      a
     aa
    aaa
   aaaa
  aaaaa

In [8]:
n= int(input("Enter the no below 10:")) 
name=input("enter the Character(s):") 
for i in range(n): 
    print("  "*(n-i),name* (2*i+1))

Enter the no below 10:5
enter the Character(s):hey
           hey
         heyheyhey
       heyheyheyheyhey
     heyheyheyheyheyheyhey
   heyheyheyheyheyheyheyheyhey

In [9]:
n=int(input("Enter no.of times = "))
x=str(input("Enter String = "))
for i in range(n):
    for j in range(i+1):
        print(x,end=" ")
    print(end="\n")

Enter no.of times = 4
Enter String = hey
hey
hey hey
hey hey hey
hey hey hey hey

In [10]:
a=int(input('enter the number:'))
b=input('enter the text:')
b=b+" "
for i in range(a):
    print((i+1)*b)

enter the number:4
enter the text:hi
hi
hi hi
hi hi hi
hi hi hi hi

In [11]:
a=int(input('enter the number:'))
b=input('enter the text:')
for i in range(a):
    print((i+1)*b)
    print(end=" \n")

enter the number:4
enter the text:you
you

youyou

youyouyou

youyouyouyou

In [12]:
i1=int(input("Enter the no. "))
s=str(input("Enter symbol or name "))
for i in range(i1):
    for j in range(i+1):
        print(s,end=" ")
    print()

Enter the no. 6
Enter symbol or name *
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [13]:
n=int(input("Enter no.of times = "))
x=str(input("Enter String = "))
b=" "
for i in range(n):
    print(int((n-i))*b,end="")
    for j in range(i+1):
        print(x,end=" ")
    print(end="\n")

Enter no.of times = 5
Enter String = why
     why
    why why
   why why why
  why why why why
 why why why why why

In [14]:
n=int(input("Enter the no. "))
s=input("Enter symbol or name ")
for i in range(n):
    for j in range(n-1):
        print(end=" ")
    for k in range(i+1):
        print(s,end=" ")
    n=n-1
    print()

Enter the no. 6
Enter symbol or name +
     +
    + +
   + + +
  + + + +
 + + + + +
+ + + + + +

In [15]:
n=int(input("Enter the no. "))
s=input("Enter symbol or name ")
for i in range(n):
    for j in range(n-1):
        print(end=" "*len(s))
    for k in range(i+1):
        print(s,end=" "*len(s))
    n=n-1
    print()

Enter the no. 7
Enter symbol or name +_h
                  +_h
               +_h   +_h
            +_h   +_h   +_h
         +_h   +_h   +_h   +_h
      +_h   +_h   +_h   +_h   +_h
   +_h   +_h   +_h   +_h   +_h   +_h
+_h   +_h   +_h   +_h   +_h   +_h   +_h

In [16]:
n = int(input("Enter the no.:"))
name = input("enter the name:")
for i in range(n):
    for j in range(n-i-1):
        print(" "*len(name), end = " ")
        for j in range(i+1):
            print(name," "*len(name), end = " ")
        print()

Enter the no.:5
enter the name:var
    var
    var
    var
    var
    var     var
    var     var
    var     var
    var     var     var
    var     var     var
    var     var     var     var